<section class="user_descript">
    <img src="{{user.avatar}}" alt="User's profile pic." class="user_pic" id="user_pic_edit"> 
    <input type="file" id="upload_input" accept="image/*" style="display:none">
    <button id="edit_photo_button">Edit Photo</button>

    <form>
        <fieldset>
            <legend>Editing Profile</legend>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{user.username}}" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="#########" required>
            <br><br>
            <label for="bio">Your Bio:</label>
            <textarea id="bio" rows="5" cols="50" required>{{user.bio}}</textarea>
        </fieldset>
    </form>

    <button id="save_button" class="edit_profile">Save Profile</button>
</section>