<img src="{{user.avatar}}" alt="User's profile pic." class="user_pic" id="user_pic"> 

<h1 id="username">{{user.username}}</h1>

<section class="user_descript">
    <h2>Bio:</h2>
    <p class="bio" id="bio">{{user.bio}}</p>
</section>

<a href="/profile?edit=true" class="edit_profile">Edit Profile</a>