:root
{
    /* Fallb back values */
    --primary_color: ;
    --secondary_color: ;
    --background_color: rgb(0, 0, 0);  
    --text_color: white;  
    --eye_catcher: red;  
    --compliment_eye_catcher: blue;  
}

.title_header{
    font-size: 80px;
    margin: 0%;
    color: var(--primary_color);
    filter:brightness(1.7);
}

.par{
    color: var(--text_color);
    /* border: 1px solid white; */
    margin: 0%;
    margin-bottom: 5px;
}

.hrLine{
    width: 100%;
    border: 1.5px solid white;
    margin-top: 15px;
}

.login_main_container
{
    min-height: 100vh;
    background-color: var(--background_color);
    display: flex;
    flex-flow: row;
    color: var(--text_color);
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.boxContainer{
    display: flex;
    flex-flow: column;
    width: 500px;
    min-height: 400px;
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.box{
    display: flex;
    flex-flow: column;
    /* border: 1px solid red; */
    align-items: center;
}

.log_in{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.inputText::placeholder{
    color: #a1b4be;
}

.inputText{
    width: 250px;
    height: 40px;
    border: 1px solid;  
    padding-left: 10px;
    font-size: 15px;
    border-radius: 10px;
    outline-color: #008BFF;
    background-color: var(--secondary_color);
    border-color: black;
    color: #ffffff;
    margin-top: 15px;
    /* border: 1px solid blue; */
}

/* override default browser autofill style on text box */
.inputText:-webkit-autofill,
.inputText:-webkit-autofill:hover,
.inputText:-webkit-autofill:focus,
.inputText:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--secondary_color) inset !important;
    -webkit-text-fill-color: white !important;
}

/* log in button functions & designs */
.log_in_button{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--primary_color);
    filter:brightness(1.7);
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    cursor: pointers;
}

.log_in_button:hover{
    background-color: var(--primary_color);
    filter: brightness(1.2);
}

.log_in_button:active{
    background-color: var(--primary_color);
    filter: brightness(1);
}

/*  */

.link:active{
    color:var(--secondary_color);
}

.error-msg {
    display: flex;
    flex-direction: column;
    color: red;
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 5px;
    /* border: 1px solid white; */
}

.remember_me{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 0px;
}