:root
{
    /* Fallb back values */
    --primary_color: ;
    --background_color: rgb(0, 0, 0);  
    --text_color: white;  
    --eye_catcher: red;  
    --compliment_eye_catcher: blue;  
}

.title_header{
    font-size: 80px;
    margin: 0%;
}

.par{
    color: var(--text_color);
    /* border: 1px solid white; */
    margin: 0%;
}

.hrLine{
    width: 100%;
    border: 1px solid #a1b4be;
}

.register_main_container
{
    min-height: 100vh;
    background-color: var(--background_color);
    display: flex;
    flex-flow: row;
    color: var(--text_color);
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
}

.boxContainer{
    display: flex;
    flex-flow: column;
    width: 500px;
    max-height: 500px;
    border: 2px solid #a1b4be;
    border-radius: 10px;
}

.box{
    display: flex;
    flex-flow: column;
    /* border: 1px solid red; */
    align-items: center;
}

.form_box{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.inputText::placeholder{
    color: #a1b4be;
}

.inputText{
    width: 250px;
    height: 40px;
    border: 1px solid;  
    padding-left: 10px;
    font-size: 15px;
    border-radius: 10px;
    outline-color: #008BFF;
    background-color: #121a1e;
    border-color: black;
    color: #ffffff;
    margin: 10px;
}

/* override default browser autofill style on input text box */
.inputText:-webkit-autofill,
.inputText:-webkit-autofill:hover,
.inputText:-webkit-autofill:focus,
.inputText:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #121a1e inset !important;
    -webkit-text-fill-color: white !important;
}

.register_button{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: #4567e3;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
    outline: none;
    border: none;
    cursor: pointers;
}

.register_button:hover{
    background-color: #3651c2; 
}