:root
{
    --primary_color: #444;  
    --background_color: rgb(0, 0, 0);  
    --text_color: white;  
    --eye_catcher: red;  
    --compliment_eye_catcher: blue;  
}

.main_body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background_color);
    font-size: x-large;
}

.header_container
{
    background-color: var(--primary_color);
    width: 100vw;
    height: 10vh;
}

.back_button
{
    background-color: transparent;
    border: none;
    height: 100%;
    width: auto;
}

.back_button:hover
{
    border: 5px solid var(--eye_catcher);
    border-radius: 20%;
}

.back_icon
{
    height: 100%;
    width: auto;
}

.title_container
{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80vw;
    color: var(--text_color);
}

.images_container
{
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
    width: 80vw;
    height: 50vh;
    border: 5px dotted var(--primary_color);
}

.images_container img
{
    width: auto;
    height: 100%;
}

.comment_placeholder
{
    width: 80vw;
    height: 50px;
    background-color: blueviolet;
}

.game_link_container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--background_color);
    filter:contrast(1.1);
}

.game_link{
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
    color: var(--text_color);
}

.post_vote_container 
{
    display: flex;
    flex-direction: column; 
    gap: 5px;              
    margin-top: 20px;
    align-items: flex-start; 
}

.vote_buttons 
{
    display: flex;         
    flex-direction: row;
    gap: 5px;          
}


.vote_active_like 
{
    background-color: green;
    color: var(--text_color);
}

.vote_active_dislike 
{
    background-color: red;
    color: var(--text_color);
}

.comments_section 
{
    width: 80vw;
    color: var(--text_color);
    margin-top: 30px;
}

#comment_form 
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#comment_form input[type="submit"] 
{
    padding: 5px 15px;   
    font-size: 0.9rem;   
    width: auto;         
    cursor: pointer;
}


#comment_input 
{
    width: 100%;
    min-height: 80px;
    resize: vertical;
    padding: 8px;

    background-color: #121a1e;
    color: white;
}

#comments_container 
{
    margin-top: 20px;
}


.comment 
{
    border-left: 3px solid var(--primary_color);
    padding-left: 10px;
    margin-bottom: 15px;
}

.comment_header 
{
    font-weight: bold;
}

.comment_actions 
{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.comment_actions button 
{
    cursor: pointer;
}


.reply_container 
{
    margin-left: 20px;
    margin-top: 10px;
}

.textarea
{
    background-color: #121a1e;
    color: white;
}

.comment_actions button 
{
    padding: 3px 8px;
    margin-right: 5px;
    cursor: pointer;
}

.comment_like_active 
{
    background-color: green;
    color: var(--text_color);
}

.comment_dislike_active 
{
    background-color: red;
    color: var(--text_color);
}

